/.idea
/*.iml
# Maya project that was only really used to cleanup UVs
/modules/3D_Art_Pipeline/Substance_Painter/spiderbot.mb
# Local temp directories
**/tmp/*

# Intermediate files
modules/3D_Art_Pipeline/Assessment/3DArtPipeline_PeterDonald/3DArtPipeline_Game_PeterDonald/Production/SubstancePainter/CrescentShield/CrescentShield.fbx
modules/3D_Art_Pipeline/Assessment/3DArtPipeline_PeterDonald/3DArtPipeline_Game_PeterDonald/Production/SubstancePainter/CrescentBladePolearm/CrescentBladePolearm.fbx

# Assignment archives to submit
modules/3D_Art_Pipeline/Assessment/3DArtPipeline_PeterDonald.zip
modules/Work_Health_and_Safety/Assessment/WorkHealth&Safety_PeterDonald.zip

# Swatch files are generated thumbnails for shader used to speed up hypershade
# and there is no need to check in as they will be regenerated when opened.
**/.mayaSwatches/*.swatches
**/.mayaSwatches/*.swatch

# Ignore the Substance painter autosaves
**/*_autosave_*.spp

# Ignore the Substance painter lock files
**/*.spp.painter_lock
