*.psd -text
*.mel -text
*.ma -text
*.fbx -text
modules/3D_Art_Pipeline/Introduction_to_Lighting/LightingProject/scenes/PUP_Cabin.mb filter=lfs diff=lfs merge=lfs -text
modules/3D_Art_Pipeline/Substance_Painter/spiderbot.spp filter=lfs diff=lfs merge=lfs -text