/.idea
/*.iml
# Maya project that was only really used to cleanup UVs
/modules/3D_Art_Pipeline/Substance_Painter/spiderbot.mb
# Local temp directories
**/tmp/*

# Intermediate files
Assesment/3DArtPipeline_PeterDonald/3DArtPipeline_Game_PeterDonald/Production/SubstancePainter/Shield/Shield.fbx
Assesment/3DArtPipeline_PeterDonald/3DArtPipeline_Game_PeterDonald/Production/SubstancePainter/Weapon/Weapon.fbx

# Swatch files are generated thumbnails for shader used to speed up hypershade
# and there is no need to check in as they will be regenerated when opened.
**/.mayaSwatches/*.swatches
